<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.usam.deer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_deer_squared"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_deer_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.Deer"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Acercade"
            android:parentActivityName=".MenuNavegacion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNavegacion" />
        </activity>
        <activity
            android:name=".AlbumsByArtista"
            android:parentActivityName=".MenuNavegacion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNavegacion" />
        </activity>
        <activity
            android:name=".AlbumContenido"
            android:parentActivityName=".MenuNavegacion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNavegacion" />
        </activity>
        <activity
            android:name=".VideoContenido"
            android:parentActivityName=".MenuNavegacion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNavegacion" />
        </activity>
        <activity android:name=".AgregarUser" />
        <activity android:name=".EditarUser" />
        <activity android:name=".DetalleUser" />
        <activity android:name=".ContenidoUserActivity" />
        <activity
            android:name=".EditarContenidoActivity"
            android:exported="true" />
        <activity
            android:name=".DetalleContenidoActivity"
            android:exported="true" />
        <activity
            android:name=".AgregarContenidoActivity"
            android:exported="true" />
        <activity
            android:name=".Contenido_AdminActivity"
            android:exported="true" />
        <activity android:name=".IniciarSesion" />
        <activity
            android:name=".MenuNavegacion"
            android:label="@string/title_activity_menu" />
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>